.header{
    width: 100%;
    height: 65px;
    background-color: var(--theme-1);
    display: grid;
    place-items: center;
}

.header_container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: var(--title-size);
}

.cart-icon_container{
    position: relative;
}

.cart_count{
    position: absolute;
    top: 0;
    right: -5%;
    background-color: rgb(172, 39, 39);
    border-radius: 50%;
    color: #fff;
    width: 50%;
    height: 50%;
    padding: 3px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cart_container{
    position: relative;
    display: inline-block;
}

/* ============ CART ============*/
.cart_body{
    position: absolute;
    right: 0;
    width: 370px;
    padding: 10px;
    background-color: white;
    border: .5px solid var(--theme-2);
    border-radius: .5rem;
    display: grid;
    gap: 10px;
    place-items: center;
}
.cart-item_list{
    display: grid;
    gap: 5px;
}
.cart-item_card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.cart-item_details{
    display: flex;
    gap: 5px;
}

.cart-item_action{
    display: inline-flex;
    justify-content: center;
}

.cart-item_img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    object-fit: cover;
}
.cart-item_img img{
    width: 50px;
}
.cart-item_name{
    font-size: small;
}

.cart-item_action{
    display: inline-flex;
    gap: 5px;
    justify-content: flex-start;
}
.cart-item_action .product_quantity{
    margin: 0px;
}
.cart-item_action .product_quantity button{
    height: 1.2rem;    
    width: 1.2rem;
    background: none; 
    border-radius: 10%;
    border: 1px solid var(--theme-2);
    font-size: 1rem;
    font-weight: bold;  
    text-align: center;
    cursor: pointer;
}

.cart-item_action .product_quantity button:disabled{
    opacity: .5;
    cursor:not-allowed;
}

.cart-item_action .product_quantity .value{
    display: inline-block;
    width: 25px;
    height: 100%;
    text-align: center;
}

.Empty_cart-message{
    font-weight: 600;
    text-align: center;
}

.order_button{
    padding: 5px 10px;
    border: 1px solid var(--theme-2);
    color: var(--theme-2);
    font-weight: 400;
    font-size: medium;
    border-radius: .5rem;
    width: 80%;
    background: transparent;
    transition: .2s ease;
}
.order_button:hover{
    background-color: var(--theme-1-light);
    border: .5px solid var(--theme-2);
    box-shadow: black 1px 1px 1px;
}
.order_button:active{
   box-shadow: none;
}