/*<========= REUSABLE ========>*/
.container{
    width:100%;
    display: grid;
    place-items: center;
    padding: 70px;
}

/*<========= HOME ========>*/
@import "./styles/home.css";

/*<========= PRODUCT CARD ========>*/
@import "./styles/productCard.css";

/*<========= PRODUCT PAGE ========>*/
@import "./styles/productPage.css";
